<h2>My Votes</h2>

<table role="grid">
	<thead>
		<tr>
			<th>Number</th>
			<th>Title</th>
			<th width="100">My Vote</th>
		</tr>
	</thead>	
	<tbody>
		<% @votes.each do |vote| %>
			<tr>
				<td><%= link_to vote.item.number, item_path(vote.item) %></td>
				<td><%= link_to vote.item.title, item_path(vote.item) %></td>
				<td class="vote-<%=vote.vote.downcase %>">
					<%= vote.vote %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @votes %>
