<h1>OKCouncillr API</h1>

<section>
	<h2>URLs</h2>

	<div class="columns medium-6">
		<ul class="square">
			<li><%= link_to "/api/agendas", "/api/agendas" %></li>
			<li><%= link_to "/api/agendas/:id", "/api/agendas/4" %>*</li>
			<li><%= link_to "/api/items", "/api/items" %></li>
			<li><%= link_to "/api/items/:id", "/api/items/4" %>*</li>
			<li><%= link_to "/api/wards", "/api/wards" %></li>
			<li><%= link_to "/api/wards/:id", "/api/wards/4" %>*</li>
		</ul>
	</div>

	<div class="columns medium-6">
		<ul class="square">
			<li><%= link_to "/api/councillors", "/api/councillors" %></li>
			<li><%= link_to "/api/councillors/:id", "/api/councillors/4" %>*</li>
			<li><%= link_to "/api/committees", "/api/committees" %></li>
			<li><%= link_to "/api/committees/:id", "/api/committees/4" %>*</li>
			<li><%= link_to "/api/motions", "/api/motions" %></li>
			<li><%= link_to "/api/motions/:id", "/api/motions/4" %>*</li>
		</ul>
	</div>

	<em>* uses id 4 for the sake of example</em>
	<br><br>
</section>

	<ul class="tabs" data-tab role="tablist">
	  <li class="tab-title active" role="presentational">
	  	<a href="#agenda-panel" role="tab" tabindex="0" aria-selected="true" controls="agenda-panel">Agendas</a>
	  </li>
	  <li class="tab-title" role="presentational">
	  	<a href="#councillor-panel" role="tab" tabindex="1" aria-selected="false" controls="councillor-panel">Councillors</a>
	  </li>
	  <li class="tab-title" role="presentational">
	  	<a href="#committee-panel" role="tab" tabindex="2" aria-selected="false" controls="committee-panel">Committees</a>
	  </li>
	  <li class="tab-title" role="presentational">
	  	<a href="#item-panel" role="tab" tabindex="3" aria-selected="false" controls="item-panel">Items</a>
	  </li>
	  <li class="tab-title" role="presentational">
	  	<a href="#motion-panel" role="tab" tabindex="4" aria-selected="false" controls="motion-panel">Motions</a>
	  </li>
	  <li class="tab-title" role="presentational">
	  	<a href="#ward-panel" role="tab" tabindex="5" aria-selected="false" controls="ward-panel">Wards</a>
	  </li>
	</ul>
	<div class="tabs-content">
	  <section role="tabpanel" aria-hidden="false" class="content active" id="agenda-panel">
	    <h2>Agendas</h2>

	    <h3>Agendas Attributes</h3>

			<dl>
	    	<dt>committee_id</dt>
	    	<dd>Committee id from OKC of which commitee created the agenda</dd>
	    	<dt>date</dt>
	    	<dd>Date of when the agenda was taken up in the meeting</dd>
	    	<dt>id</dt>
	    	<dd>OKC Number</dd>
	    	<dt>meeting_num</dt>
	    	<dd>Meeting number from City of Toronto of which meeting taken up the agenda</dd>
			</dl>

			<h3>URL Query Parameters</h3>

			<dl>
				<% get_url_query_parameters_for(:Agendas).each do |argument, description| %>
					<dt><%= argument %></dt>
					<dd><%= description.html_safe %></dd>
				<% end %>
			</dl>	    
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="councillor-panel">
			<h2>Councillors</h2>

			<h3>Councillors Attributes</h3>

			<dl>
					<dt>address</dt>
					<dd>Street Address</dd>
					<dt>email</dt>
					<dd>Councillor Email</dd>
					<dt>facebook_handle</dt>
					<dd>Councillor Facebook Handle</dd>
					<dt>first_name</dt>
					<dd>Councillor's First Name</dd>
					<dt>id</dt>
					<dd>OKC Number</dd>
					<dt>image</dt>
					<dd>Councillor's Image</dd>
					<dt>last_name</dt>
					<dd>Councillor's Last Name</dd>
					<dt>phone_number</dt>
					<dd>Councillor's Phone Number</dd>
					<dt>start_date_in_office</dt>
					<dd>Date of when Councillor started in office</dd>
					<dt>twitter_handle</dt>
					<dd>Councillor's Twitter Handle</dd>
					<dt>ward_id</dt>
					<dd>Councillor's Ward ID</dd>
					<dt>website</dt>
					<dd>Councillor's Website</dd>
			</dl>

			<h3>URL Query Parameters</h3>

			<dl>
				<% get_url_query_parameters_for(:Councillors).each do |argument, description| %>
					<dt><%= argument %></dt>
					<dd><%= description.html_safe %></dd>
				<% end %>
			</dl>

			<div class="columns medium-4">
				<p>URL: api/councillors</p>
			</div>	    

			<div class="columns medium-8">
				<%= coderay(@councillors).html_safe %>
			</div>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="committee-panel">
	    <h2>Committees</h2>

	    <h3>Committees Attributes</h3>

	    <dl>
	    	<dt>id</dt>
				<dd>OKC Number</dd>
				<dt>name</dt>
				<dd>Name of committee</dd>
	    </dl>

	    <h3>URL Query Parameters</h3>

			<dl>
				<% get_url_query_parameters_for(:Committees).each do |argument, description| %>
					<dt><%= argument %></dt>
					<dd><%= description.html_safe %></dd>
				<% end %>
			</dl>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="item-panel">
			<h2>Items</h2>

			<h3>URL Query Parameters</h3>

			<dl>
				<% get_url_query_parameters_for(:Items).each do |argument, description| %>
					<dt><%= argument %></dt>
					<dd><%= description.html_safe %></dd>
				<% end %>
			</dl>

	    <div class="columns medium-4">
				<p>URL: api/item/75</p>
			</div>
			<div class="columns medium-8">
				<%= coderay(@item).html_safe %>
			</div>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="motion-panel">
			<h2>Motions</h2>

			<h3>URL Query Parameters</h3>

			<dl>
				<% get_url_query_parameters_for(:Motions).each do |argument, description| %>
					<dt><%= argument %></dt>
					<dd><%= description.html_safe %></dd>
				<% end %>
			</dl>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="ward-panel">
	    Wards
	  </section>
	</div>
</div>