<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<%= render partial: 'shared/error_message', locals: { errors: @user.errors }%>
	<% end %>

	<div class="form-field">
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name %>
	</div>

	<div class="form-field">
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name %>
	</div>

	<div class="form-field">
		<%= f.label :street_num, "Street Number" %>
		<%= f.text_field :street_num, placeholder: "100" %>
	</div>

	<div class="form-field">
		<%= f.label :street_name, "Street Name" %>
		<%= f.text_field :street_name, placeholder: "Queen Street W." %>
	</div>

	<div class="form-field">
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "sample@okcouncillr.com" %>
	</div>

	<div class="form-field">
		<%= f.label :password %>
		<%= f.password_field :password, placeholder: "minimum 8 characters" %>
	</div>

	<div class="form-field">
		<%= f.label :password_confirmation, "Password Confirmation" %>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class="form-field">
		<%= f.submit "Submit", class: "submit" %>
	</div>
<% end %>