<ul class="medium-block-grid-5 councillors">
	<% @councillors.each do |councillor| %>
		<li class="card">
			<%= link_to(councillor_path(councillor)) do %>
				<%= image_tag(councillor.image) %>
				<h4><%= councillor.first_name %> <%= councillor.last_name %></h4>
			<% end %>
			<p>Ward <%= councillor.ward.ward_number %> - <%= councillor.ward.name %></p>
		</li>
	<% end %>
</ul>

