<ul class="medium-block-grid-6">
	<% @councillors.each do |councillor| %>
		<li>
			<%= link_to(councillor_path(councillor)) do %>
				<%= image_tag(councillor.image) %>
				<h4><%= councillor.first_name %> <%= councillor.last_name %></h4>
			<% end %>
			Ward <%= councillor.ward.ward_number %> - <%= councillor.ward.name %>
		</li>
	<% end %>
</ul>

