<div class="row profile">
	<div class="medium-4 columns">
		<%= image_tag @councillor.image, class: "profile" %>
	</div>
	<div class="medium-5 columns councillor-info">
		<h3><%= @councillor.first_name %> <%= @councillor.last_name %></h3>
			<p>Ward <%= @councillor.ward.ward_number %> - <%= @councillor.ward.name %></p>
			<p>In Office Since: <%= (@councillor.start_date_in_office).strftime("%B %e, %Y") %></p>
			<p>Email: <%= mail_to @councillor.email%> </p>
			<p>Website: <a href="<%= @councillor.website %>" target="_blank"><%= @councillor.website %></a></p>
			<p>Twitter: <a href="http://www.twitter.com/<%= @councillor.twitter_handle %>" target="_blank"><%= @councillor.twitter_handle %></a></p>
			<p>Facebook: <a href="http://www.facebook.com/<%= @councillor.facebook_handle %>" target="_blank"><%= @councillor.facebook_handle %></a></p>
			<p>Address: <%= @councillor.address %></p>	
	</div>
	<div class="medium-3 columns councillor-info committee-info">
		<p>Committees: </p>
		<ul class="committees">
		 	<% @councillor.committees.each do |committee| %>
				<li><%= committee.name %></li>
			<% end %>
		</ul>
	</div>
</div>

<div class="row vote-history">
	<h3>Voting History</h3>

	<ul class="tabs" data-tab role="tablist">
	  <li class="tab-title active" role="presentational" ><a href="#voting-panel-1" role="tab" tabindex="0" aria-selected="true" controls="voting-panel-1">Fake Votes</a></li>
	  <li class="tab-title" role="presentational" ><a href="#voting-panel-2" role="tab" tabindex="0"aria-selected="false" controls="voting-panel-2">Real Votes</a></li>
	</ul>
	<div class="tabs-content">
	  <section role="tabpanel" aria-hidden="false" class="content active" id="voting-panel-1">
	    <table role="grid">
					<thead>
						<tr>
							<th>Number</th>
							<th>Title</th>
							<th width="100">Vote</th>
							<tbody>
								<% @votes.each do |vote| %>
									<% unless vote.motion.amendment_text == "" %>
									<tr>
										<td><%= vote.motion.item_id %></td>
										<td><%= vote.motion.amendment_text %></td>
										<td class="vote-<%= vote.vote.downcase %>">
											<%= vote.vote %>
										</td>
									</tr>
									<% end %>
								<% end %>
							</tbody>
						</tr>
					</thead>
				</table>
	  </section>
	  <section role="tabpanel" aria-hidden="true" class="content" id="voting-panel-2">
	    <table role="grid">
					<thead>
						<tr>
							<th>Number</th>
							<th>Title</th>
							<th width="100">Vote</th>
							<tbody>
								<% @rvr_votes.each do |vote| %>
									<% unless vote.agenda_item_title == "" %>
									<tr>
										<td><%= vote.agenda_item %></td>
										<td><%= vote.agenda_item_title %></td>
										<td class="vote-<%= vote.vote.downcase %>">
											<%= vote.vote %>
										</td>
									</tr>
									<% end %>
								<% end %>
							</tbody>
						</tr>
					</thead>
				</table>
	  </section>
	</div>
</div>