<div class="vote-buttons">
	<div class="row">
		<div class="vote-inner">
			<div class="vote-form no-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "No") %>					
					<%= button_tag(type: 'submit', class: "vote no") do %>
							<i class="fa fa-times fa-2x"></i>
					<% end %>	
				<% end %>	

			</div>

			<div class="vote-form skip-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Skip") %>	
					<%= button_tag(type: 'submit', class: "vote skip") do %>
							<i class="fa fa-step-forward fa-2x"></i>
					<% end %>	
				<% end %>
			</div>

			<div class="vote-form yes-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Yes") %>	
					<%= button_tag(type: 'submit', class: "vote yes") do %>
							<i class="fa fa-heart fa-2x"></i>
					<% end %>
				<% end %>
			</div> <!-- yes vote -->
		</div>
	</div> <!-- row -->
</div> <!-- vote-buttons -->