<div class="vote-buttons">
	<div class="row">
		<div class="vote-inner">
			<div class="vote-form no-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "No") %>					
					<%= button_tag(type: 'submit', class: "vote no", title: 'Dislike this item', rel: 'tooltip') do %>
							<i class="fa fa-thumbs-o-down fa-2x"></i>
					<% end %>	
				<% end %>	

			</div>

			<div class="vote-form skip-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Skip") %>	
					<%= button_tag(type: 'submit', class: "vote skip", title: 'Pass on this item', rel: 'tooltip') do %>
							Pass</i>
					<% end %>	
				<% end %>
			</div>

			<div class="vote-form yes-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Yes") %>	
					<%= button_tag(type: 'submit', class: "vote yes", title: 'Like this item', rel: 'tooltip') do %>
							<i class="fa fa-thumbs-o-up fa-2x"></i>
					<% end %>
				<% end %>
			</div> <!-- yes vote -->
		</div>
	</div> <!-- row -->
</div> <!-- vote-buttons -->