<h1><%= @item.title%></h1>

<ul>
	<li>Item number: <%= @item.number %></li>
	<li>Item type: <%= @item.item_type.name %> </li>
	<li> Wards:
	<% @item.wards.each do |ward| %>
  	<ul>
	  	<li>Ward <%= ward.ward_number %>  - <%= ward.name %> </li>  		
  	</ul>
	<% end %>

	</li>
</ul>


<ul class="accordion" data-accordion>
	<% @item.sections.each_with_index do  |item, i| %>
		<li class="accordion-navigation">
			<a href="#panel<%= i %>a"><%= item[0] %></a>
			<div id="panel<%= i %>a" class="content">
				<%= item[1].to_s %>
			</div>
		</li>
	<% end %>
</ul>


<%= button_to "No", :method => :create %>
