<h2><%= @item.title%></h2>

<ul class="small-block-grid-4">
	<li>Item number: <%= @item.number %></li>
	<li>Ward: <%= @item.sections[:ward].compact.join ", " %></li>
</ul>

<ul class="accordion" data-accordion>
	<% @item.sections.each_with_index do  |(title, content), index| %>
		<% unless title == :ward %>
			<li class="accordion-navigation <%= "active" if index == 0 %>">
				<a href="#panel-<%= index %>a"><i class="fa fa-caret-right"></i> <%= title %></a>
				<div id="panel-<%= index %>a" class="content <%= "active" if index == 0 %>">
					<%= content.to_s %>
				</div>
			</li>
		<% end %>
	<% end %>
</ul>

