<h1><%= @item.title%></h1>

<ul>
	<li>Item number: <%= @item.number %></li>
	<li>
	<% @item.wards.each do |ward| %>
	  	Ward <%= ward.ward_number %>  - <%= ward.name %> | 		
	<% end %>

	</li>
</ul>

<ul class="accordion" data-accordion>
	<% @item.sections.each_with_index do  |(title, content), index| %>
		<% unless title == :ward %>
			<li class="accordion-navigation">
				<a href="#panel-<%= index %>a"><%= title %></a>
				<div id="panel-<%= index %>a" class="content <%= "active" if title == "Summary" %>">
					<%= content.to_s %>
				</div>
			</li>
		<% end %>
	<% end %>
</ul>

<% if current_user %>
	<% if new_item_for_current_user(@item) %>
		<%= render 'vote_buttons' %>
	<% else %>
		<%= render 'past_vote' %>
	<% end %>
<% end %>
