<h1><%= @item.title%></h1>

<ul>
	<li>Item number: <%= @item.number %></li>
	<li>
	<% @item.wards.each do |ward| %>
	  	Ward <%= ward.ward_number %>  - <%= ward.name %> | 		
	<% end %>

	</li>
</ul>

<ul class="accordion" data-accordion>
	<% @item.sections.each_with_index do  |item, i| %>
		<li class="accordion-navigation">
			<a href="#panel<%= i %>a"><%= item[0] %></a>
			<div id="panel<%= i %>a" class="content <%= "active" if i == 0 %>">
				<%= item[1].to_s %>
			</div>
		</li>
	<% end %>
</ul>

<% if current_user && new_item_for_current_user(@item) %>
	<%= render 'vote_buttons' %>
<% else %>
	<%= render 'past_vote' %>
<% end %>
