<h1><%= @item.title%></h1>

<ul>
	<li>Item number: <%= @item.number %></li>
	<li>
	<% @item.wards.each do |ward| %>
	  	Ward <%= ward.ward_number %>  - <%= ward.name %> | 		
	<% end %>

	</li>
</ul>


<ul class="accordion" data-accordion>
	<% @item.sections.each_with_index do  |item, i| %>
		<li class="accordion-navigation">
			<a href="#panel<%= i %>a"><%= item[0] %></a>
			<div id="panel<%= i %>a" class="content <%= "active" if i == 0 %>">
				<%= item[1].to_s %>
			</div>
		</li>
	<% end %>
</ul>

<% if current_user %>
	<div class="row">
		<div class="vote-buttons">
			<div class="vote-form no-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "No") %>					
					<%= button_tag(type: 'submit', class: "button round") do %>
 						<i class="fa fa-times fa-2x"></i>
					<% end %>	
				<% end %>	

			</div>

			<div class="vote-form skip-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Skip") %>	
					<%= button_tag(type: 'submit', class: "button round") do %>
 						<i class="fa fa-step-forward fa-2x"></i>
					<% end %>	
				<% end %>
			</div>

			<div class="vote-form yes-vote">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Yes") %>	
					<%= button_tag(type: 'submit', class: "button round") do %>
 						<i class="fa fa-heart fa-2x"></i>
					<% end %>
				<% end %>
			</div>

		</div>
	</div>
<% end %>
