<h1><%= @item.title%></h1>

<ul>
	<li>Item number: <%= @item.number %></li>
	<li>Item type: <%= @item.item_type.name %> </li>
	<li> Wards:
	<% @item.wards.each do |ward| %>
  	<ul>
	  	<li>Ward <%= ward.ward_number %>  - <%= ward.name %> </li>  		
  	</ul>
	<% end %>

	</li>
</ul>


<ul class="accordion" data-accordion>
	<% @item.sections.each_with_index do  |item, i| %>
		<li class="accordion-navigation">
			<a href="#panel<%= i %>a"><%= item[0] %></a>
			<div id="panel<%= i %>a" class="content <%= "active" if i == 0 %>">
				<%= item[1].to_s %>
			</div>
		</li>
	<% end %>
</ul>

<% if current_user %>
	<div class="row">
		<div class="vote-buttons">
			<div class="vote-form">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "No") %>
					<%= f.submit "No", {class: "button round"}%>
				<% end %>	
			</div>

			<div class="vote-form">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Skip") %>	
					<%= f.submit "Skip", {class: "button round"}%>
				<% end %>	
			</div>

			<div class="vote-form">
				<%= form_for [@item, @user_vote] do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field(:vote, value: "Yes") %>	
					<%= f.submit "Yes", {class: "button round"}%>
				<% end %>
			</div>

		</div>
	</div>
<% end %>
