<div class="user-form">
	<h2>Login</h2>

	<%= form_tag user_sessions_path, :method => :post do %>

		<div>
			<%= label_tag :email %> <br>
			<%= text_field_tag :email %> 
		</div>

		<div>
			<%= label_tag :password %> <br>
			<%= password_field_tag :password %>
		</div>

		<div>
			<%= check_box_tag :remember %> <%= label_tag :remember, "Remember Me" %> 
		</div>
		<br>
		<div>
			<%= submit_tag "Login", class: "submit"  %>
		</div>

	<% end %>
</div>