<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "OK Councillr" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="main-header">
      <nav class="top-bar navigation" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%=link_to 'OKCouncillr <i class="fa fa-check-square-o"></i>'.html_safe, root_url %></h1>
          </li>
        </div>

        <section class="top-bar-section main-menu">
          <ul class="right">
            <% if current_user %>
              <li class="has-dropdown">
                <a href="#">Profile</a>
                
                <ul class="dropdown">
                  <li>
                    <%= link_to("My Profile", myprofile_path) %>
                  </li>
                  <li>
                    <%= link_to("My Votes", myvotes_path) %>
                  </li>
                  <li>
                    <%= link_to("Logout", :logout, method: :post) %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to("Sign Up", :signup) %></li>
              <li><%= link_to("Login", :login) %></li>
            <% end %>

            <li>
              <%= link_to("Get Voting!") %>
            </li>
          </ul>
        </section>
      </nav>
    </header>

    <main class="row">
      <% if flash[:notice] %>
        <div data-alert class="notice-flash"> <%= flash[:notice] %>  <a href="#" class="close">&times;</a> </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-flash"> <%= flash[:alert] %>  <a href="#" class="close">&times;</a> </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
