<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "OK Councillr" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <script src="//use.typekit.net/uyo0teu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
    <body id="<%= controller_name %>-<%= action_name %>">
    
    <header class="main-header">
      <nav class="top-bar navigation" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">
            <h1><%=link_to 'OKCouncillr <i class="fa fa-check-square-o"></i>'.html_safe, root_url %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section main-menu">
          <ul class="right">
          <li><%= link_to "API Docs", "/api/docs" %></li>
          <li><%= link_to "Councillors", councillors_path %></li>
            <% if current_user %>
              <li class="has-dropdown">
                <a href="#">Profile</a>
                
                <ul class="dropdown">
                  <li>
                    <%= link_to("Edit Profile", edit_user_path(current_user)) %>
                  </li>
                  <li>
                    <%= link_to("My Votes", myvotes_path) %>
                  </li>
                  <li>
                    <%= link_to("Logout", :logout, method: :post) %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to("Sign Up", :signup) %></li>
              <li><%= link_to("Login", :login) %></li>
            <% end %>

            <li>
              <%= link_to("Get Voting!", item_path(find_next_item(current_user))) %>
            </li>
          </ul>
        </section>
      </nav>

      <% if flash[:notice] %>
        <div data-alert class="notice-flash">
          <%= flash[:notice] %> <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-flash">
          <%= flash[:alert] %> <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </header>

    <main class="row wrapper">
      <%= yield %>
    </main>

    <% if current_user && items_show_page? %>
      <% if new_item_for_current_user(@item) %>
        <%= render 'vote_buttons' %>
      <% else %>
        <%= render 'past_vote' %>
      <% end %>
    <% end %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
