<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "OK Councillr" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="main-header">
      <nav class="top-bar">
        <ul class="title-area">
          <li>
            <h1>OK Counillr</h1>
          </li>
          <li class="toggle-top menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown">
              <a href="">Profile</a>
              <ul class="dropdown">
                <li>Menu 1</li>
                <li>Menu 2</li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="">Vote</a>
              <ul class="dropdown">
                <li>Menu 1</li>
                <li>Menu 2</li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="main-footer">
      <%= Time.now.year %> Civxx
    </footer>
  </body>
</html>
